<div class="container">

    <div class="row">
        <div id="topictitle" class="col-sm-3">
            <span><a href="/">Go back</a></span>
        </div>
        <div class="col-sm-9">
            <h2 th:text="${topic.title}">Title</h2>
        </div>
    </div>

    <div class="row">
    <table data-toggle="table" class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Message</th>
                <th>Post date</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.user.username}">Froderino</td>
            <td th:text="${message.messageContent}">messageContent</td>
            <td th:text="${#calendars.format(message.dateObject, 'dd MMMM yyyy')}">17 01 2014</td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{|/topic/${topic.id}|}" th:object="${message}" method="post">
        <input type="text" th:field="*{messageContent}" th:class="${#fields.hasErrors('messageContent')}? fieldError"/>
        <input type="submit" value="Quick add message"/>
    </form>

    </div>

</div>