<span><a th:href="@{/}">Go back</a><h2><span th:text="${topic.title}">1</span></h2></span>

<form action="#" th:action="@{/newtopic}" th:object="${topic}" method="post">
    <input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title may not be empty</span>
    <input type="text" th:field="*{firstMessage}" />
    <span th:if="${#fields.hasErrors('firstMessage')}" th:errors="*{firstMessage}">Title may not be empty</span>
    <input type="submit" />
</form>