<a th:href="@{/}">Go back</a><h2><span th:text="${topic.title}">1</span> Created: <span th:text="${#dates.format(topic.createdDateAsDateObject, 'dd MM yyyy HH:mm')}">21 june</span></h2>

<p>Topic rating: <span th:text="${topic.rating}">1</span></p>

<p th:text="${topic.firstMessage}">1</p>

<p th:each="message : ${messages}">
    <span th:text="${message.message}"></span>
    <!-- <span th:text="${message.created_date}"></span> -->
    <span th:text="${#dates.format(topic.createdDateAsDateObject, 'dd MM yyyy HH:mm')}">21 june</span>
    <span th:text="${message.user.username}"></span>
</p>

<a th:href="@{|/topic/${topic.id}/newmessage|}">Create new message</a>