<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>BestForum.com</title>
    <script th:include="fragments/includes" th:remove="tag"></script>
</head>
<body>
<div class="navbar">
    <div class="col-sm-6 col-sm-offset-2"><img src="bestforumlogo.png" height="250"></img></div>
</div>

<div th:if="${display == 'bas'}">

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-4">
                <a th:href="@{/newtopic}">Create new topic</a>
            </div>
        </div>


        <div class="row">
            <div th:if="${topics != null}" class="col-sm-9">
                <div th:include="fragments/alltopics" th:remove="tag"></div>
            </div>


            <div id="information" class="col-sm-3">
                <h3>Forum information:</h3>
                <p><span>Amount of topics: </span><span th:text="${topicsAmount}">1</span></p>
                <p><span>Amount of messages: </span><span th:text="${messageAmount}">1</span></p>
            </div>
        </div>
    </div>

</div>




<div th:if="${display == 'topic'}">

    <div id="topictitle"><span><a href="/">Go back</a><h2 th:text="${topic.title}">Title</h2></span></div>

    <div th:include="fragments/messages" th:remove="tag"></div>

    <form action="#" th:action="@{|/topic/${topic.id}|}" th:object="${message}" method="post">
        <input type="text" th:field="*{messageContent}" />
        <input type="submit" value="Quick add message"/>
    </form>

</div>

<div th:if="${display == 'newtopic'}">
    <!-- <div th:include="fragments/newtopic" th:remove="tag"></div> -->
    <form action="#" th:action="@{/newtopic}" th:object="${topic}" method="post">
        <input type="text" th:field="*{title}" />
        <textarea name="firstMessage"></textarea>
        <input type="submit" value="Create new topic"/>
    </form>
</div>

<div th:if="${display == 'notopic'}">
    <span>No topic with that ID</span>
</div>

</body>
</html>