<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>BestForum.com</title>
    <div th:include="fragments/includes" th:remove="tag" />
</head>
<body>

<h2>BestForum.com</h2>

<div th:if="${display == 'root'}">
    <span>
        Sort by: <a th:href="@{/newest}">Newest</a> | <a th:href="@{/oldest}">Oldest</a> | <a th:href="@{/highest}">Highest</a> |
        <a th:href="@{/lowest}">Lowest</a>
    </span>

    Topic count: <span th:text="${topicsAmount}">13</span>
    Message count: <span th:text="${messagesAmount}">14</span>

    <div th:include="fragments/root" th:remove="tag" />
</div>

<div th:if="${display == 'newtopic'}">
    <div th:include="fragments/newtopic" th:remove="tag" />
</div>

<div th:if="${display == 'topic'}">
    <div th:include="fragments/topic" th:remove="tag" />
</div>

<div th:if="${display == 'newmessage'}">
    <div th:include="fragments/newmessage" th:remove="tag" />
</div>

<div th:if="${display == 'search'}">
    <div th:include="fragments/search" th:remove="tag" />
</div>

</body>

</html>